<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @item.comment %>
</p>

<p>
  <strong>Photo:</<strong>
  <%= link_to @item.photo.filename, rails_blob_path(@item.photo, disposition: "attachment") %>
  <%= image_tag @item.photo %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
